p{
    font-family: 'Indie Flower', cursive;
    letter-spacing: 3px;
    font-size: 24px;
}

body{
    background-color:#fde8cd;
    margin: 30px;
}
#logo{  
    position:fixed; /*hello*/
	top:50px; 
}

#gif {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.normalBtn {
    border: 2px solid #433520;
    background-color:#fde8cd;
    position: static;
    margin: 10px;
    box-shadow: 0 12px 16px 0 rgba(49, 85, 85, 0.24), 0 17px 50px 0 rgba(88, 118, 143, 0.19);
    padding: 20px;
    width: 150px;
}

.normalBtn:hover {
    background-color:#433520;
    color: #dfe0df;
}

.escapeBtn {
    border-radius: 8px;
    background-color: #00917c;
    float: left;
    padding: 20px;
    width: 100px;
}

.escapeBtn:hover {
    float:right;
}

.biggerBtn {
    background-color: #433520;
    color: #dfe0df;
    padding:10px;
}
.biggerBtn:hover {
    width: 80%;
    height:20%;
    margin-top: 10px;
    margin-left: 20px;
    background-color: #00917c;
}

#miguelBtn {
    background-color: #dfe0df;
    border: 2px solid #00917c;
    text-align: center;
    border-radius: 8px;
    padding: 20px;
    width: 100px;
    transition: all 0.3s;
    cursor: pointer;
    margin: 30px;
}

#miguelBtn span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.3s;
    color: #433520;
    font-size: 20px;
    font-family: "Lucida Console", monospace;
}

#miguelBtn span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -25px;
    transition: 0.4s;
  }
  
#miguelBtn:hover span {
    padding-right: 20px;
}

#miguelBtn:hover span:after {
    opacity: 1;
    right: 0;
}

#joeyBtn {
    float:right;
    background-color:#80653d;
    color:#fde8cd;
    border-radius: 16px;
    padding: 15px 25px;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    box-shadow: 0 9px #00917c;
    margin: 30px;
}


#soyeonBtn {
    font-size:24px;
    background-color: #00917c;
    color:#dfe0df;
    border-radius: 50%;
    margin: 20px;
    padding: 20px;
}

#joey_WhisperBtn {
    font-size:50px;
    background-color: #5f4b29;
    color: #fde8cd;
    padding: 30px;
    font-family: "Courier New", monospace;
    border-radius: 40%;
    border: 4px solid #00917c;
}

#joey_WhisperBtn:hover {
    box-shadow: 10px 10px 8px blue, 15px 15px 8px red, 20px 20px 8px green;
}

footer {
    text-align: center;
    position: relative;;
    bottom: 0;
    padding:5px;
}
